@charset "uft-8";
@import "default.css"; 

/* ----header--- */
.header_inner{width: 100%; margin: 0 auto; background: #0a6082; display: block; position: relative; z-index: 1000; display: flex; justify-content: space-around; align-items: center;}
.header_inner a{color: #fff;}
.header_inner .nav{height: 100px; text-align: center;}
.header_inner .nav>ul{display: flex; height: 100px; justify-content: center; cursor: pointer; gap: 20px;}
.header_inner .nav>ul .main>a{font-size: 20px; font-weight: bold; height: 100px;}
.header_inner .nav>ul .main{text-align: center; line-height: 2; position: relative;}
.header_inner .nav ul .main .sub{overflow:hidden; opacity: 0; display: flex; width: 500px; height: 200px; position: absolute; z-index: 9999999;}
.header_inner .nav ul .main .sub li{height: 60px;}

.header_inner .nav ul .main:active .sub{opacity: 1; background-color: #070808;}
.section .nav ul .main:hover {transition-duration: 3s;}
.section .nav ul .main:hover>.sub { transition-duration: 1s;} 

.header_inner select{margin-bottom: 10px; margin-top: 10px; outline: 0; background: #074f69;; color: #fff; border: 1px solid #074f69; padding: 4px; border-radius: 9px;}

.sec1 img{width: 100%;}

.sec2{background-image: url("../img/v2-bg.webp"); width: 100%; margin: 0 auto; /* max-width: 1300px; */ display: flex; justify-content: space-around; text-align: center; height: 430px;}
.sec2 div{margin: 60px; line-height: 2; text-align: center;}
.sec2 img{width: 95px; margin: 10px auto;}
.sec2 span{font-weight: bold;}
.sec2 p{font-size: 16px;}
.sec2 a{color: #0475a1; font-weight: bold; font-size: 18px;}

.sec3{background-image: url("../img/bluebannerglobal_b.webp");  width: 100%; margin: 0 auto; height: 420px;}
.sec3 img{position: relative; right: 0; z-index: 199999; top: -25px; float: right;}

.sec4{width: 100%; margin: 0 auto; height: 640px; background: #d7e9fa; text-align: center;}
.sec4 .fir {padding: 50px; line-height: 1.8;}
.sec4 .ice{display: flex; justify-content: space-between; width: 100%;}
.sec4 .sec{width: 400px; height: 400px; margin: 0 auto; border: 1px solid #0575a1; border-radius: 25px; background: #fff;}
.sec4 .ice img{width: 180px; margin: 50px 110px 50px ;}
.sec4 .ice img:hover{transform: scale(1.2);}
.sec4 a{text-align: center; font-weight: bold; color: #0575a1;}

.sec5{background-image: url("../img/v2-recent-bg.webp"); background-repeat: no-repeat; background-size: cover; background-position: center; width: 100%; margin: 0 auto; position: relative; padding-bottom: 50px;}
.sec5 h2{text-align: center; padding-top: 73px;}
.sec5 h2::before{content: ''; position: absolute; width: 83px; height: 5px; top: 5px; display: block; background: #fdb913; }
.sec5 p::before{content: ''; position: absolute; width: 83px; height: 5px; top: 5px; background: #fdb913;}
.sec5 .fir{width: 100%; margin: 0 auto; display: flex; justify-content: space-around;}
.sec5 .sec{width: 100%; margin: 0 auto; display: flex;}

.sec6{background-image: url("../img/v2-bg.webp");}
.sec6 h2{text-align: center; padding: 50px;}
.sec6 ul{display: flex; padding: 30px;}
.sec6 ul>img{width: 200px;}
.sec6 .tit{color: #0575a1; font-weight: bold;}
.sec6 .sub{color: #333; font-weight: bold; font-size: 13px;}
.sec6 .blog{background: #0575a1; width: 250px; margin: 0 auto;text-align: center;}
.sec6 .blog a{color: #fff; margin: auto; }
.sec6 .sns{width: 40px; margin: auto; display: flex; }
.sec6 .green{position: relative; margin: 60px auto -50px;}
/* .sec6 .green_o{background: #95c362; width: 100%; height: 200px; border-radius: 80% 50% 0 0; position: absolute; left: -40px; z-index: 1;} */
/* .sec6 .green_t{background: #95c362; width: 100%; height: 200px; border-radius: 50% 80% 0 0; position: absolute; right: -40px; z-index: 1;} */
.sec6 .green_h{background: #7caf43; width: 100%; height: 200px; border-radius: 50% 50% 0 0; text-align: center; position: relative;}
.sec6 .green .cow{background-image: url("../img/sprite.webp"); background-position: -495px -180px; position: absolute; z-index: 999; width: 100%;}

footer{background: #000; color: #fff; width: 100%; line-height: 5; height: 80px; display: flex; gap: 40px;}
footer p{margin-left: 50px; font-weight: bold;} 